<%- include("partials/header") -%>
<div style="text-align:center; color: #1abc9c;">
  <h1>About Me</h1>
</div>
<div style="margin:10%; margin-top: 5%">
  <img src="images/profile.png" alt="" style="float:left; height:150px; width:150px; margin-right:5%;">

  <p> This blog is borne out of a desire to highlight the need to create green spaces, reduce pollution, and to protect the environment. I believe that nature needs to be preserved not only to enhance the current generation's quality of life but also as a legacy for future generations to come. We only have one planet and we should all do our part to ensure that it’s protected by combining our modern ways of living with a deeper respect and understanding of what nature provides. Environmental conservationists understand that the way we live is a reflection of how we feel about the natural world, and our everyday habits show how much we truly value all the things that the Earth gives us.</p>

</div>

<%- include("partials/footer") -%>
