<%- include("partials/header") -%>

<div style="color: #1abc9c;">
  <h1><%= content.title %></h1>
</div>
<div class="" style="line-height: 2.5rem;">
  <p><%= content.content %></p>
</div>



<%- include("partials/footer") -%>
